<!-- Right Sidebar -->
<div class="right-bar">
    <div class="rightbar-title">
        <a href="javascript:void(0);" class="right-bar-toggle float-right">
            <i class="mdi mdi-close"></i>
        </a>
        <h5 class="m-0 text-white">Settings</h5>
    </div>
    <div class="slimscroll-menu">
        <hr class="mt-0">
        <h5 class="pl-3">Basic Settings</h5>
        <hr class="mb-0" />


        <div class="p-3">
            <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                <label class="custom-control-label" for="customCheck1">Hide Character From Party</label>
            </div>
            <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck2" checked>
                <label class="custom-control-label" for="customCheck2">Share Dice Roles With Party</label>
            </div>
            <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <label class="custom-control-label" for="customCheck3">Share Dice Rolls with GM</label>
            </div>
        </div>

        <!-- Messages -->
        <hr class="mt-0" />
        <h5 class="pl-3 pr-3">Games <span class="float-right badge badge-pill badge-danger"></span></h5>
        <hr class="mb-0" />
        <div class="p-3">
            <div class="inbox-widget">
                <% games.forEach(function(game){ %>
                <div class="inbox-item">
                    <p class="inbox-item-author"><a href="javascript: void(0);"><%=game.name %></a></p>
                    <p class="inbox-item-text"><%= game.gameMaster %></p>
                    <p class="inbox-item-date"><%= game.lastPlayed %></p>
                </div>
                <% }) %>
                
            </div> <!-- end inbox-widget -->
        </div> <!-- end .p-3-->

    </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>