<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>The Last Stand - Create New Character</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />
        <style>
            .race-stat-table td {
                width: 10%;
                text-align: center;
            }
            .race-stat-table th {
                width: 10%;
                text-align: center;
            }

        </style>

    </head>

    <body>

        <!-- Begin page -->
        <div id="wrapper">

            
            <!-- Topbar -->
            <%- include ../partials/topbar.ejs %>
            
            <!-- ========== Left Sidebar ========== -->
            <%- include ../partials/left-sidebar.ejs %>
        

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    
                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">The Last Stand</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">New Character</a></li>
                                            <li class="breadcrumb-item active">Choose a Race</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">New Character</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 
                    
                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <div class="timeline">
                                        <article class="timeline-item alt">
                                            <div class="text-right">
                                                <div class="time-show first">
                                                    <a href="#" class="btn btn-gradient width-lg">Beginning</a>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="">Minotaur</h4>
                                                        <p class="timeline-date text-muted"><small>Race</small></p>
                                                        <p>Dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? </p>
                                                        <table class="race-stat-table">
                                                            <tr>
                                                                <th>Str</th>
                                                                <th>Dex</th>
                                                                <th>Con</th>
                                                                <th>Speed</th>
                                                                <th>Int</th>
                                                                <th>Wis</th>
                                                                <th>Cha</th>
                                                                <th>Wit</th>
                                                            </tr>
                                                            <tr>
                                                                <td>10</td>
                                                                <td>20</td>
                                                                <td>10</td>
                                                                <td>20</td>
                                                                <td>10</td>
                                                                <td>20</td>
                                                                <td>10</td>
                                                                <td>20</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>

                                        <article class="timeline-item alt">
                                            <div class="text-right">
                                                <div class="time-show">
                                                    <a href="#" class="btn btn-gradient width-lg">Choose A Race</a>
                                                </div>
                                            </div>
                                        </article>

                                        
                                        <!--
                                        <article class="timeline-item ">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon bg-success"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-success">2 hours ago</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>consectetur adipisicing elit. Iusto, optio, dolorum <a href="#">John deon</a> provident rerum aut hic quasi placeat iure tempora laudantium </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon bg-primary"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-primary">10 hours ago</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>3 new photo Uploaded on facebook fan page</p>
                                                        <div class="album">
                                                            <a href="#">
                                                                <img alt="" src="assets/images/small/img-1.jpg">
                                                            </a>
                                                            <a href="#">
                                                                <img alt="" src="assets/images/small/img-2.jpg">
                                                            </a>
                                                            <a href="#">
                                                                <img alt="" src="assets/images/small/img-3.jpg">
                                                            </a>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon bg-purple"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-purple">14 hours ago</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Outdoor visit at California State Route 85 with John Boltana &
                                                            Harry Piterson regarding to setup a new show room.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-muted">19 hours ago</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Jonatha Smith added new milestone <span><a href="#">Pathek</a></span>
                                                            Lorem ipsum dolor sit amet consiquest dio</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>

                                        <article class="timeline-item alt">
                                            <div class="text-right">
                                                <div class="time-show">
                                                    <a href="#" class="btn btn-gradient width-lg">Yesterday</a>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon bg-warning"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-warning">07 January 2016</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Montly Regular Medical check up at Greenland Hospital by the
                                                            doctor <span><a href="#"> Johm meon </a></span>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon bg-primary"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-primary">07 January 2016</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Download the new updates of Ubold admin dashboard</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>

                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon bg-success"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-success">07 January 2016</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Jonatha Smith added new milestone <span><a class="blue" href="#">crishtian</a></span>
                                                            Lorem ipsum dolor sit amet consiquest dio</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="text-right">
                                                <div class="time-show">
                                                    <a href="#" class="btn btn-gradient width-lg">Last Month</a>
                                                </div>
                                            </div>
                                        </article>

                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-muted">31 December 2015</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Download the new updates of Ubold admin dashboard</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>

                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon bg-danger"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-danger">16 Decembar 2015</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Jonatha Smith added new milestone <span><a href="#">prank</a></span>
                                                            Lorem ipsum dolor sit amet consiquest dio</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        -->

                                    </div>
                                    <!-- end timeline -->
                                    <div class="card-deck-wrapper">
                                        <div class="card-deck" style="flex-wrap: wrap;">
                                            <div class="card" style="flex-basis: 25%;">
                                                <img class="card-img-top img-fluid" src="assets/images/small/img-4.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">This is a longer card with supporting text below as
                                                        a natural lead-in to additional content. This content is a little
                                                        bit longer.</p>
                                                    <a class="card-text">
                                                        <small class="text-muted">Select This Race</small>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card" style="flex-basis: 25%;">
                                                <img class="card-img-top img-fluid" src="assets/images/small/img-4.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">This is a longer card with supporting text below as
                                                        a natural lead-in to additional content. This content is a little
                                                        bit longer.</p>
                                                    <p class="card-text">
                                                        <small class="text-muted">Last updated 3 mins ago</small>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card" style="flex-basis: 25%;">
                                                <img class="card-img-top img-fluid" src="assets/images/small/img-4.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">This is a longer card with supporting text below as
                                                        a natural lead-in to additional content. This content is a little
                                                        bit longer.</p>
                                                    <p class="card-text">
                                                        <small class="text-muted">Last updated 3 mins ago</small>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card" style="flex-basis: 25%;">
                                                <img class="card-img-top img-fluid" src="assets/images/small/img-5.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">This card has supporting text below as a natural
                                                        lead-in to additional content.</p>
                                                    <p class="card-text">
                                                        <small class="text-muted">Last updated 3 mins ago</small>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card" style="flex-basis: 25%;">
                                                <img class="card-img-top img-fluid" src="assets/images/small/img-6.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">This is a wider card with supporting text below as
                                                        a natural lead-in to additional content. This card has even longer
                                                        content than the first to show that equal height action.</p>
                                                    <p class="card-text">
                                                        <small class="text-muted">Last updated 3 mins ago</small>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card" style="flex-basis: 25%;">
                                                <img class="card-img-top img-fluid" src="assets/images/small/img-4.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">This is a longer card with supporting text below as
                                                        a natural lead-in to additional content. This content is a little
                                                        bit longer.</p>
                                                    <p class="card-text">
                                                        <small class="text-muted">Last updated 3 mins ago</small>
                                                    </p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    
                
                    </div> <!-- end container-fluid -->

                </div> <!-- end content -->

                

                <!-- Footer Start -->
                <%- include ../partials/footer.ejs %>

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->

        <%- include ../partials/right-sidebar.ejs %>

        <!-- Vendor js -->
        <script src="assets/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="assets/js/app.min.js"></script>
        <script src="assets/js/createCharacter.js"></script>
        
    </body>
</html>