<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>The Last Stand - Create New Character</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />
        <style>
            .race-stat-table td {
                width: 10%;
                text-align: center;
            }
            .race-stat-table th {
                width: 10%;
                text-align: center;
            }
            
            #races-deck .wrap-card {
                flex-basis: 260px;
            }

            .hidden {
                display: none;
            }
        </style>

    </head>

    <body>

        <!-- Begin page -->
        <div id="wrapper">

            
            <!-- Topbar -->
            <%- include ../partials/topbar.ejs %>
            
            <!-- ========== Left Sidebar ========== -->
            <%- include ../partials/left-sidebar.ejs %>
        

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    
                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">The Last Stand</a></li>
                                            <li class="breadcrumb-item active">New Character</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">New Character</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 
                    
                        <form action="/submitNewCharacter" method="POST" class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <div class="timeline" id="timeline">

                                        <article class="timeline-item alt" id="beginningButton">
                                            <div class="text-right">
                                                <div class="time-show first">
                                                    <a href="javascript: void(0)" onclick="startForm()" class="btn btn-gradient width-lg">Let's Get Started</a>
                                                </div>
                                            </div>
                                        </article>
                                        
                                        <article class="timeline-item alt" style="visibility: hidden;">
                                            <div class="timeline-desk">
                                                
                                            </div>
                                        </article>

                                        <article class="timeline-item alt hidden" id="chooseRaceButton">
                                            <div class="text-right">
                                                <div class="time-show">
                                                    <p onclick="getRaces()" class="btn btn-gradient width-lg">Choose A Race</p>
                                                </div>
                                            </div>
                                        </article>

                                        <article class="timeline-item alt hidden" id="chooseBackgroundButton">
                                            <div class="text-right">
                                                <div class="time-show">
                                                    <a href="javascript: void(0);" onclick="getBackgrounds()" class="btn btn-gradient width-lg">Tell Us Your Background</a>
                                                </div>
                                            </div>
                                        </article>

                                        <article class="timeline-item alt hidden" id="chooseClassButton">
                                            <div class="text-right">
                                                <div class="time-show">
                                                    <a href="javascript: void(0);" onclick="getClasses()" class="btn btn-gradient width-lg">Choose A Class</a>
                                                </div>
                                            </div>
                                        </article>

                                        <article class="timeline-item alt hidden" id="finalizeCharacter">
                                            <div class="text-right">
                                                <div class="time-show">
                                                    <a href="javascript: void(0);" onclick="finalizeForm()" class="btn btn-gradient width-lg">Finalize Name And Appearance</a>
                                                </div>
                                            </div>
                                        </article>

                                        
                                        <!--
                                        <article class="timeline-item ">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon bg-success"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-success">2 hours ago</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>consectetur adipisicing elit. Iusto, optio, dolorum <a href="#">John deon</a> provident rerum aut hic quasi placeat iure tempora laudantium </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon bg-primary"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-primary">10 hours ago</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>3 new photo Uploaded on facebook fan page</p>
                                                        <div class="album">
                                                            <a href="#">
                                                                <img alt="" src="assets/images/small/img-1.jpg">
                                                            </a>
                                                            <a href="#">
                                                                <img alt="" src="assets/images/small/img-2.jpg">
                                                            </a>
                                                            <a href="#">
                                                                <img alt="" src="assets/images/small/img-3.jpg">
                                                            </a>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon bg-purple"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-purple">14 hours ago</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Outdoor visit at California State Route 85 with John Boltana &
                                                            Harry Piterson regarding to setup a new show room.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-muted">19 hours ago</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Jonatha Smith added new milestone <span><a href="#">Pathek</a></span>
                                                            Lorem ipsum dolor sit amet consiquest dio</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>

                                        <article class="timeline-item alt">
                                            <div class="text-right">
                                                <div class="time-show">
                                                    <a href="#" class="btn btn-gradient width-lg">Yesterday</a>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon bg-warning"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-warning">07 January 2016</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Montly Regular Medical check up at Greenland Hospital by the
                                                            doctor <span><a href="#"> Johm meon </a></span>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon bg-primary"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-primary">07 January 2016</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Download the new updates of Ubold admin dashboard</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>

                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon bg-success"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-success">07 January 2016</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Jonatha Smith added new milestone <span><a class="blue" href="#">crishtian</a></span>
                                                            Lorem ipsum dolor sit amet consiquest dio</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="text-right">
                                                <div class="time-show">
                                                    <a href="#" class="btn btn-gradient width-lg">Last Month</a>
                                                </div>
                                            </div>
                                        </article>

                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-muted">31 December 2015</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Download the new updates of Ubold admin dashboard</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>

                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon bg-danger"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-danger">16 Decembar 2015</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Jonatha Smith added new milestone <span><a href="#">prank</a></span>
                                                            Lorem ipsum dolor sit amet consiquest dio</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        -->

                                    </div>
                                    <!-- end timeline -->
                                    <div class="card-deck-wrapper">
                                        <div class="card-deck" style="flex-wrap: wrap;" id="races-deck">
                                            
                                            
                                        </div>
                                    </div>
                                    <div>
                                        <div id="vanity" class="hidden">
                                            <h2 class="text-center">Name and Appearance</h2>
                                            <div class="form-group">
                                                <label for="name">Character Name</label>
                                                <input type="text" id="name" class="form-control" placeholder="Name">
                                            </div>

                                            <div class="form-group row">
                                                <div class="col">
                                                    <label for="hair">Hair</label>
                                                    <input placeholder="Black" type="text" id="hair" class="form-control"> 
                                                </div>
                                                <div class="col">
                                                    <label for="eyes">Eyes</label>
                                                    <input placeholder="Blue" type="text" id="eyes" class="form-control"> 
                                                </div>
                                                <div class="col">
                                                    <label for="skin">Skin</label>
                                                    <input placeholder="Pale" type="text" id="skin" class="form-control"> 
                                                </div>
                                            </div>

                                            <label for="height">Height</label>
                                            <div class="form-group row">
                                                <div class="col">
                                                    <input placeholder="6'" type="number" id="feet" class="form-control"><label for="feet">feet</label> 
                                                </div>
                                                <div class="col">
                                                    <input placeholder="9&quot;" type="number" id="inches" class="form-control"><label for="inches">inches</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="weight">Weight</label>
                                                <input type="number" id="weight" class="form-control" placeholder="130"> <label for="weight">lbs</label>
                                            </div>

                                            
                                            <div class="form-group">
                                               <button type="button" id="vanity-form-button" class="btn btn-success float-right">Continue</button>
                                            </div>
                                            <div class="form-group">
                                                <button id="submit-button" onclick="submit()" class="btn btn-success float-right hidden">Create Character</button>
                                             </div>


                                            



                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    
                
                    </div> <!-- end container-fluid -->

                </div> <!-- end content -->

                

                <!-- Footer Start -->
                <%- include ../partials/footer.ejs %>

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->

        <%- include ../partials/right-sidebar.ejs %>

        <!-- Vendor js -->
        <script src="assets/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="assets/js/app.min.js"></script>
        <script src="assets/js/createCharacter.js"></script>
        
    </body>
</html>